* {
    border-style: border-box;
    font-family: 'Lato', sans-serif;
}

#sidebar {
    z-index: 1000;
    position: fixed;
    top: 200px;
    height: 100%;
    background-color: #FFF;
    width: 250px;
    left: 250px;
    margin-left: -250px;
    overflow-y: auto;
}

#sidebar a {
    color: #000;
}


#content-wrapper {
    position: absolute;
    padding-left: 250px;
    width: 50%;
    top: 100px;
}

#bigimage-wrapper {
    position: absolute;
    width: 50%;
    left:50%;
    top: 100px;
}

#bigimage-wrapper img {
    position: relative;
    width: 75%;
}

#header-wrapper {
    position: absolute;
    height: 100px;
    left: 250px;
    margin: 0;
}

.img-container {
    position: relative;
    display: inline-block;
    width: 200px;
    margin: 10px;
}

.img-container img {
    display: block;
}

.img-container button {
    padding: 10px;
    border: none;
}

.modal-image {
    display: inline-block;
    position: relative;
    max-height:600px;
    width: 80%;
    left: 10%;
}

.comments-panel {
    position: relative;
    height: 200px;
    overflow-y: scroll;
}

.posted-info {
    font-size: 10px;
    color: #808080;
    padding: 1px;
    margin: 0px;
}